# IntelliJ IDEA files
*.iml
.idea/*
!.idea/runConfigurations/

# MacOS files
.DS_Store

# Gradle files
.gradle
.externalNativeBuild
.cxx
local.properties

# Build output
build
captures
*.aab
*.apk
/app/release/output-metadata.json

# Keystore files
*.jks
passwords
*.pepk
keystore.properties

# Test outputs
test-outputs

# Service credentials
serviceCredentials.json