*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
google-services.json
artemis-native-keystore.jks
passwords
private_key.pepk
keystore.properties
*.aab
*.apk
/app/release/output-metadata.json
