*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
*.jks
passwords
*.pepk
keystore.properties
*.aab
*.apk
/app/release/output-metadata.json
test-outputs
serviceCredentials.json
playStoreScreenshots