<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ArtemisApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="artemis" />

                <data android:host="courses" />
                <data android:host="metis_standalone_post" />
                <data android:scheme="artemis" />
                <data android:host="exercises" />
                <data android:host="lectures" />
                <data android:host="quiz_participation" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppThemeActionBar" />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name="de.tum.informatics.www1.artemis.native_app.feature.push.ArtemisFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <receiver android:name="de.tum.informatics.www1.artemis.native_app.feature.push.service.impl.notification_manager.ReplyReceiver" />
        <receiver android:name="de.tum.informatics.www1.artemis.native_app.feature.push.service.impl.notification_manager.DeleteNotificationReceiver" />
    </application>
</manifest>